.paragraphe{
	font-size:20px;
}
.title{
	font-size:40px;
  text-align: center;
}





.header {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  align-content: center;

}
.header img{
	width:100%;
	height: auto;
}
.Header-Text{
  left:5%;
  position: relative;
  text-align: justify;
  font-size: 17px;
  width: 90%;
}
@media screen and (max-width:500px) {
  .Header-Text {width:90%;}
}


.mainfr {
  background-color: #19061e;
  width: 100%;
  height:auto;
  overflow: hidden;
  color: var(--color-white);
  margin-left: 239px; /* Leave space for the sidebar */
  padding: 20px;
  width: 100%;
}
.mainfr img{
  width: 50%;
}

.mainen {
  background-color: #19061e;
  width: 100%;
  height:auto;
  overflow: hidden;
  color: var(--color-white);
  margin-left: 239px; /* Leave space for the sidebar */
  padding: 20px;
  width: 100%;
}

.mainen img{
  width: 50%;
}

.centre{
  text-align: center;
}

.center{
  text-align: center;
}

h4{
  font-size:20px;
  color: #b72add;
}

h1{
  color: #1cf4ba;
  text-align: center;
}
h2{
  color: #1cf4ba;
}
/* Liens non visités */
a:link {
  color: #b72add;
  ;
}

/* Liens visités */
a:visited {
  color: #b72add;
;
}

body {
  display: flex;
  margin: 0;
  font-size:16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
  position: fixed;
  background-color: #000000;
  left: 0;
  top: 0;
  width: 200px;
  height: 97%;
  background: linear-gradient(145deg, #08000c, #b72add);
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 
              -5px -5px 15px rgba(255, 255, 255, 0.5);
  overflow-y: auto;
}


.sidebar a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 575.98px) { 
  .mainfr img{
    width: 100%;
  }
  .mainen img{
    width: 100%;
  }
  .mainfr{margin-left: 93px;}
  .mainen{margin-left: 93px;}
  .sidebar {width: 56px;}
  body {font-size:10px;}
}

